@media only screen and(min-width:37rem){
    h1, p{
        margin: 0 2 vw;
    }
    nav button{
        margin: 2rem 2vw;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color:bisque;
    }
    nav{
        background-color: #000;
    }
    nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a{
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #333;
        border-top: 1px solid rgba(0,0,0,0.5);
        font-size: .8rem;
    }
    nav ul li.active a{
        background-color: rgba(0,0,0,0.2);
        color: #fff;
    }
    nav ul li a:hover{
        background-color: 0,0,0,0.3;
        color: #fff;
    }
}