@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Rock+Salt&display=swap');

/* Small view */

header h1{
    font-size: 40px;
    color: bisque;
    font-weight: bold;
    text-align: center;
    font-family: Roboto,sans-serif;
    margin-bottom: 2.5rem;
}
h2{
    font-size: 30px;
    color: bisque;
    font-weight: bold;
    padding-top: 15px;
    margin-top: 5px;
    font-family: Roboto,sans-serif;
}
.Cards{
    display: grid;
    grid-template-columns: 1fr;
}
main{
    justify-content: center;
    text-align: center;
    background-color: #617648;
    box-shadow: 0 0 50PX #9BA17A;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 25PX;
}
section{
    background-color: #617648;
    border: solid #9BA17A 2px;
    border-radius: 15px;
    margin: 1rem;
    padding: 10px;
}
P{
    display: grid;
    grid-template-columns: 1fr;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    line-height: 25px;
    margin: 0,5rem;
}
img{
    height: auto;
    width: 60%;
    margin: 5px auto 10px auto;
    box-shadow: 0 0 50px #9BA17A;
    border: #9BA17A solid 2px;
    border-radius: 15px;
}
footer{
    text-align: center;
    font-size: larger;
    margin: 2rem;
}

/* medium view */

@media only screen and(min-width:768){
    .Cards{
        grid-template-columns: 1fr 1fr;
    }
}

/* large view */

@media only screen and(min-width:1100px){
    .Cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
